lato@import url('https://fonts.googleapis.com/css?family=Lato');
/*farver
background:#60c7d7;
color: #fd7f5c;
peachy


*/
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
	font-family: 'Lato', sans-serif;
}

/* NAVIGATION */

.sidenav {
  /*
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
	  background-color: #F9C657;

    */

background-color: #F2f2f2;
min-width: 15%;
height: 100%;
left: 10px;
position: fixed;
overflow: auto;
border-radius: 0,30px,30px,0;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #222222;
    margin: 10px 0;
    padding: 0;
}

.aside {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
	height: 100%
}

.aside a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #60c7d7;
    display: block;
}


ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
    overflow: auto;
    margin: 20px 0px 0px 20px;
    width: 275px;
}

li a {
    display: block;
    font-size: 20px;
    color: #000000;
    padding: 8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
}

li a:hover {
    background-color: #60c7d7;
    transition: all 500ms ease;
}

/* INDHOLD */
main {
    flex: 1;
    margin-left: 400px; /* Same width as the sidebar + left position in px */
    padding: 0px 10px;
}

h1, h2 {
    color: #222222;
}

h1 {
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    margin-top: 15px;
    padding-top: 1%;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h5 {
	color: white;
	font-size: 15px;
}

p {
    font-size: 1em;
    font-weight: 300;
    color: #222222;
}


/*FARVER */

.color {
    width: 100px;
    height: 100px;
        border-radius: 50%;
}
.colorDesc {
  background: #e5e5e5;
    padding: 30px;
    margin: 0 10px 0 0;
    border-radius: 20px;
}

.colorone {
    background: #60c7d7;

}

.colortwo {
    background: #fd7f5c;
}

.colorthree {
    background: #f2f2f2;
}
.colorfire {
    background: #222222;
    border: .5px solid #222222;
}


.primary, .universe {
    display: flex;
}


/*LINKS*/

.laesmere {
    font-size: 14px;
    text-decoration: underline;
    color: #fd7f5c;
}

.laesmereto {
    font-size: 1.5em;
    text-decoration: none;
    color: #fd7f5c;
    text-transform: uppercase;
}


/*TYPOGRAFI*/

.headeret {
    font-size: 40px;
    margin: 0;
    font-weight: bold;

}

.headerto {
    font-size: 30px;
    font-weight: bold;
}

.brodet {
    font-size: 1.25em;
    font-weight: 300;
}

.favicons {
	font-size: 14px;
	font-weight: 900;

}

/*Header*/


#header {
  padding:0
  position:inherit;
  width:90vw;
  margin-top:0;
  top:0;
  overflow:hidden;
  z-index:10;
}

.headerList {
  position:inherit;
  background-color:#fd7f5c;
  width: 90%;
  height: 50px;
  margin-top:0;
  padding-top:20px;
  padding-left:2%;
  text-align:center;

  list-style:none;
  transition-duration: .8s;

}
.headerItem {
  float:left;
  margin-right:20px;
  min-width:10%;
  height:30px;
  padding-right:5px;

  border-width:thin;
  border-color:white;
  border-style:solid;
  border-bottom-style:hidden;
  border-top-style:hidden;
  border-left-style:hidden;

  cursor:pointer;
  transition-delay:0.3s;
  transition-duration:0.5s;
}

.headerItem1 {
  border-left-style:solid;
  padding-left:10px;
}
.headerItem i {
  padding-right:5px;
  font-size: 25px;
  float:left;

  transition-delay:0.5s;
}
.headerItem p {
  float:left;
  margin-top:0;
  padding-top:5px;
  min-width:20%;
  opacity:1;

  transition-delay:0s;
  transition-duration:0.3s;
}

/* HERE STARTS THE SMALL HEADER CSS */
.headerListSmall {
  padding-left:10%;
  min-height:30px;
  max-height:30px;
  padding-top:5px;
  padding-bottom:10px;

}
.headerItemSmall {
  min-width:20px;
  padding:5px;
  border-style:hidden;
}
.headerItemSmall p {
  position:inherit;
  opacity:0;
  float:left;
  padding:0;
  margin:0;
  min-width:5px;

}
.headerItemSmall i {
  font-size:25px;
}

/* her starter index top slideshow */
.image {
  display:block;
  width:100%;
  max-height:100%;
  border-radius:none;
}

.mySlides {
  margin-top:70px;
  position:absolute;
  min-width:100vw;
  display:block;
}

.active {
  display:block;
}

#IMG {
width:500px;
height: auto;
}



*/

/*IKONER*/

.ikoner {
    margin-bottom: 20px;
    padding: 30px;
    font-size: 50px;
}

.ikoner img {
    height: 100px;
    vertical-align: middle;
    margin-right: 30px;
}

.linkikon {
    width: 1.5%;
}

.knap {
    width: 5%;
}


.logo {
    width: 50%;
    padding-top: 10px;
	padding-left: 25px;
	align-content: center;
}
.btn {
    margin: 0px 200px 0px 0px;
    background-color: #fd7f5;
    color: #222222;
}

#forum a {
    margin: 0px 0px 0px 0px;
}
.btn.btn-default {
    width: 100px;
    height: auto;
    border-radius: 10px;
    background-color: #fd7f5c;
    color: #f2f2f2;
    font-size: 20px;
}

[role="button"] {
    cursor: pointer;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 0.1;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn {
    font-family: "lato",sans-serif;
}


/*NAVIGATIONER*/

.header{
	width: 100%;
}

.menu {
    font-size: 30px;
    line-height: 1;
    color: black;
    text-decoration: none;
    background: transparent;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    background-color: #ffffff;
}

.menu:hover {
    color: #60c7d7;
    text-decoration: underline;
}

div {
    padding-top: 20;
}

ul.ikons {
  list-style-type: none;
}
li.ikons {
    style: none;

}
