
/* GENEREL CSS */
html {
  scroll-behavior: smooth;
}

#body {
  background-color: #60c7d7;
  box-sizing:border-box;
  margin:auto;
  display:block;
  position:relative;
  overflow-x:hidden;

  width: 100vw;
  min-height: 100vh;
}

/* global tekst css */
h1, h2, h3, h4, p, span, a {
  font-family:'lato', sans-serif;
  color:#f2f2f2;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 15px;
}
a {
  text-decoration:none;
}

/* CSS FOR MAINWRAPPER */
#mainWrapper {
  height:100%;
}

.anchor {
  display:block;
  height:60px;
  margin:0;
  padding:0;
}

/* HER STARTER NANNA HEADER CSS */

#header {
  position:fixed;
  width:100vw;
  margin-top:0;
  top:0;
  overflow:hidden;

  z-index:10;
}

.headerList {
  position:inherit;
  background-color:#fd7f5c;
  width:100%;
  min-height:50px;
  margin-top:0;
  padding-top:20px;
  padding-left:14%;
  text-align:center;

  list-style:none;

  transition-duration: .8s;

}
.headerItem {
  float:left;
  margin-right:20px;
  min-width:10%;
  height:30px;
  padding-right:5px;

  border-width:thin;
  border-color:white;
  border-style:solid;
  border-bottom-style:hidden;
  border-top-style:hidden;
  border-left-style:hidden;

  cursor:pointer;
  transition-delay:0.3s;
  transition-duration:0.5s;
}

/* giving the header a line on the left too */
.headerItem1 {
  border-left-style:solid;
  padding-left:10px;
}
.headerItem i {
  padding-right:5px;
  font-size: 25px;
  float:left;

  transition-delay:0.5s;
}
.headerItem p {
  float:left;
  margin-top:0;
  padding-top:5px;
  min-width:20%;
  opacity:1;

  transition-delay:0s;
  transition-duration:0.3s;
}

/* HERE STARTS THE SMALL HEADER CSS */
.headerListSmall {
  padding-left:10%;
  min-height:30px;
  max-height:30px;
  padding-top:5px;
  padding-bottom:10px;

}
.headerItemSmall {
  min-width:20px;
  padding:5px;
  border-style:hidden;
}
.headerItemSmall p {
  position:inherit;
  opacity:0;
  float:left;
  padding:0;
  margin:0;
  min-width:5px;

}
.headerItemSmall i {
  font-size:25px;
}

/* her starter index top slideshow */
.image {
  display:block;
  width:100%;
  max-height:100%;
  border-radius:none;
}

.mySlides {
  margin-top:70px;
  position:absolute;
  min-width:100vw;
  display:block;
}

.active {
  display:block;
}

/*Laura starter*/

.sliderContainer {
  position:relative;
  width:100%;
  height:100vh;
  margin:auto;

}

.sliderSmallContainer {
  display:block;
  position:relative;
  width:49%;
  float:left;
  margin:auto;
  margin-right:2.5px;
  margin-left:2.5px;
}
.sliderContainer img {
  display:inline-block;
  width:100%;
  margin:auto;
}


/*.img2{
	clip:rect(0px, 240px, 427px, 0px);
} */

.activator{
	position:absolute;
	opacity:0;
	cursor: e-resize;
  height:427px;
  z-index:2
}

/*LAURA slutter*/


/* HER STARTER NANNA 'andet'sektionen CSS */

.andetSmallWrapper {
  display:block;
  width:100%;
  margin:auto;
  height:100%;
}

.andetList {
  list-style:none;
}
.andetListItem {
  float:left;
  max-width:30%;
  margin-right:1%;
}
.andetListItem img {
  width:80%;
  margin:auto;
}

/* MAX PROGRAM */

.programcontainer {
  position:inherit;
  min-height:100vh;
  width:100%;
  display:block;
  background-color:rgba(255,255,255, 0.3);
  margin:auto;
  padding-top:30px;
}

.programcontainer h4 {
  font-size: 30px;
  font-family: 'lato', sans-serif;
}

.thumb {
  width:80%;
  margin-left:15%;
}
.programTaler {
  width:15%;
  max-width:16%;
  margin-bottom:20px;
  margin-right:10px;
}

.thumb img {
  max-width:100%;
  height:auto;
}

.thumb img:hover {
  transform: rotate(2deg);
  box-shadow: 0 0 7px rgba(0,0,0, .5);
}

/* Her starter ny program css */
.programTaler {
  width:32%;
  float:left;
  padding-right:10px;
}

/* Her slutter max css */

/* her starter countdown css */

#cd {
  float:left;
  font-size: 50px;
  font-family: arial;
  text-align: center;
  margin 0 2.5%;
  padding: 20px;
  width:20%;
  box sizing: border-box;
  border-radius: 20px;


}

.containers {
  width: 100%;
  position: inherit;
  top: 50%;
  margin-left:20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}



.count {
  margin: 40px 0;
}

.countd {
  display :inline-block;
  width: 60px;
  height: 60px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 10px;
  border-radius: 50%;
  overflow: hidden;
  font-family: verdana;
}

.countd span{
  display: block;
  font-size: 26px;
  margin-top: 10px;
}

/* her starter maria css */
.mainBox {
  position:relative;
  width:100%;
  height:100vh;
  text-align:center;
  padding-top:30px;
}

#firstMainBox  {
  height:80vh;
  padding-top:0;
}

.video {
  height:100%;
  width:80%;
  margin:auto;
  text-align:center;
}

.video iframe {
  max-height:80vh;
  min-width:80%;
  width:auto;

}

.infobox, .forumbox {
  width:80%;
  height:100%;
  margin:auto;
}

.whitebg {
  background-color:rgba(255,255,255, 0.3);
}

.infobox p {
font-size: 25px;
}

.forumbox p {
font-size: 25px;
margin-bottom:50px;
}

.forumknap {
text-decoration: none;
font-size: 35px;
color: white;
padding: 24px 60px;
border-radius: 45px;
background-color: aquamarine;
margin-top:50px;
}

/* Maria lightbox */

.lightbox {
 	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0px;
  	left: 0px;
  	background: rgba(0, 0, 0, 0.5);
  	display: none;
    z-index:-1;
}


.open {
  display: block;
	z-index: 1;
}



#lightbox_content {
  	position: absolute;
  	width: 80%;
  	height: 70%;
  	background: #ffffff;
  	border-radius: 3px;
    top: 10%;
    left:10%;
  	text-align: left;
    padding:30px;
}
.lightbox p, .lightbox h2 {
  color:black;
}



#close {
  	position: absolute;
  	right: 20px;
  	top: 20px;
  	background: rgba(0, 0, 0, 0.2);
  	height: 20px;
  	width: 20px;
  	border-radius: 15px;
  	text-align: center;
  	color: #ffffff;
 	cursor: pointer;

}

/* her slutter Maria css */
